---
import DynamicSpacing from "../../components/DynamicSpacing.astro";
import SidebarLayout from "../../layouts/SidebarLayout.astro";

const allBlogs = await Astro.glob("./*.mdx");
---

<SidebarLayout page="blog">
    <DynamicSpacing>
        <div class="py-5">
            <h1 class="display-1">Blog</h1>
            <p class="lead">
                A collection of stories about my coding adventures.
            </p>
            <div class="d-flex flex-wrap">
                {
                    allBlogs.map((post) => (
                        <div class="card" style="width: 18rem;">
                            <img
                                src={post.frontmatter.image}
                                class="card-img-top"
                            />
                            <div class="card-body">
                                <h5 class="card-title">
                                    {post.frontmatter.title}
                                </h5>
                                <p class="card-text">
                                    {post.frontmatter.description}
                                </p>
                                <a href={post.url} class="card-link">
                                    Read more
                                </a>
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </DynamicSpacing>
</SidebarLayout>
