---
import VCenter from "../components/VCenter.astro";
import SidebarLayout from "../layouts/SidebarLayout.astro";
import Card from "../components/Card.astro";
import DynamicSpacing from "../components/DynamicSpacing.astro";
---

<SidebarLayout page="web">
	<DynamicSpacing>
		<div class="vh-100 border-bottom">
			<VCenter>
				<h2>Hello, I am</h2>
				<h1 class="display-1">Matthew McCall,</h1>
				<p class="lead">
					I made a game engine and a calculator.
					<a href="#about" class="text-decoration-none"
						>Scroll to learn more <i class="bi-arrow-down"></i>
					</a>
				</p>
			</VCenter>
		</div>
		<div class="pt-5" id="about">
			<h2>About</h2>
			<p>
				Hi, I'm Matthew. I am a Computer Science student at Rensselear
				Polytechnic Institute who makes game engines and calculators. I
				mostly work in C++, but I also work in Java and JavaScript.
			</p>
		</div>
		<div class="pt-5" id="projects">
			<h2>Projects</h2>
			<p>
				Below are some of my projects. Namely, my game engine and
				calculator.
			</p>
			<div class="row gy-3">
				<div class="col-md">
					<Card repo="Silicon" />
				</div>
				<div class="col-md">
					<Card repo="Oasis" />
				</div>
			</div>
		</div>
		<div class="pt-5">
			<h4>Minecraft Server Plugins</h4>
			<p>Below are plugins I have made for Minecraft Paper Servers.</p>
			<div class="row gy-3">
				<div class="col-md">
					<Card repo="CoordsDB" />
				</div>
				<div class="col-md">
					<Card repo="FarmDispensers" />
				</div>
			</div>
		</div>
	</DynamicSpacing>
</SidebarLayout>
