---
import SidebarLayout from "../layouts/SidebarLayout.astro"

---

<SidebarLayout page="resume">
    <div class="py-5">
        <div class="row row-cols-1 gy-4">
            <div class="col">
                <h1 class="display-1">Matthew McCall</h1>
            </div>
            <div class="col">
                <h2>Education</h2>
                <h3>Rensselear Polytechnic Institute</h3>
                <h4>Bachelor of Science, BS - Computer Science</h4>
                <h5>2022-2026</h5>
                <h3>Benjamin N. Cardozo High School</h3>
                <h4>High School Diploma with Regents Advanced Designation</h4>
                <h5>2018-2022</h5>
            </div>
            <div class="col">
                <h2>Relevant Activities</h2>
                <h3>FIRST Robotics Competition</h3>
                <h5>2018-2022</h5>
            </div>
            <div class="col">
                <h2>Certifications and Experience</h2>
            </div>
            <div class="col">
                <h2>Hobbies and Interests</h2>
            </div>
        </div>
    </div>
</SidebarLayout>