---
import SidebarLayout from "../layouts/SidebarLayout.astro"

---

<SidebarLayout page="resume">
    <div class="py-5">
        <div class="row row-cols-1 gy-4">
            <div class="col">
                <h1 class="display-1">Matthew McCall</h1>
                <p class="lead"><a href="mailto:m-mccall@outlook.com" class="text-decoration-none"><i class="bi-envelope-at" /> m-mccall@outlook.com</a></p>
            </div>
            <div class="col">
                <h2>Education</h2>
                <h3>Rensselear Polytechnic Institute</h3>
                <h4>Bachelor of Science, BS - Computer Science</h4>
                <h5>2022-2026</h5>
                <ul>
                    <li>Minor in Computer Systems Engineering</li>
                    <li>Contributed to the development of the Plasma Science Virtual Laboratory with RPI SCOREC</li>
                </ul>
                <h3>Benjamin N. Cardozo High School</h3>
                <h4>High School Diploma with Regents Advanced Designation</h4>
                <h5>2018-2022</h5>
                <ul>
                    <li>3.8 GPA</li>
                    <li>Regents Advanced Designation with Mastery in Mathematics</li>
                    <li>Member of the National Honors Society (ARISTA)</li>
                    <li>Gateway Institute for Pre-College Education</li>
                </ul>
            </div>
            <div class="col">
                <h2>Relevant Activities</h2>
                <h3>FIRST Robotics Competition</h3>
                <h5>2018-2022</h5>
                <ul>
                    <li>Senior Board Member on the team</li>
                    <li>Head for the Programming Division</li>
                    <li>Lead the development and integration of new software that made use of sensor data for safety and navigation</li>
                    <li>Responsible for the safety, instruction, and training of new members in the Programming Division.</li>
                </ul>
            </div>
            <div class="col">
                <h2>Certifications and Experience</h2>
                <ul>
                    <li>AWS Certified Cloud Practitioner</li>
                    <li>Experience developing software with C++ and working on Linux and *BSD systems.</li>
                    <li>Experience programming web applications using HTML, CSS, JavaScript, MongoDB, Express, React, and Node.JS.</li>
                </ul>
            </div>
            <div class="col">
                <h2>Hobbies and Interests</h2>
                <ul>
                    <li>Managed and executed weekly live streams of mass for St Mary&apos;s Church of Branford</li>
                    <li>Worked in a team to aid in the construction of two New Haven homes with Habitat for Humanity</li>
                </ul>
            </div>
        </div>
    </div>
</SidebarLayout>