---
const { active } = Astro.props;
---

<div class="text-center">
    <h6 class="d-none d-md-block">mmccall.dev</h6>
    <br class="d-none d-md-block" />
    <div class="nav nav-pills flex-column">
        <a
            class={`nav-link ${active == "web" && "active"}`}
            aria-current="page"
            href="/">web</a
        >
        <a
            class={`nav-link ${active == "docs" && "active"}`}
            href="https://docs.mmccall.dev">docs</a
        >
        <a class={`nav-link ${active == "blog" && "active"}`} href="/blog"
            >blog</a
        >
        <a
            class={`nav-link ${active == "resume" && "active"}`}
            href="https://blog.mmccall.dev">resume</a
        >
        <br />
        <a class="nav-link" href="https://blog.mmccall.dev"
            ><i class="bi-linkedin"></i>
        </a>
        <a class="nav-link" href="https://blog.mmccall.dev"
            ><i class="bi-github"></i>
        </a>
        <a class="nav-link" href="https://blog.mmccall.dev"
            ><i class="bi-twitter"></i>
        </a>
        <a class="nav-link" href="https://blog.mmccall.dev"
            ><i class="bi-instagram"></i>
        </a>
        <a class="nav-link" href="https://blog.mmccall.dev"
            ><i class="bi-youtube"></i>
        </a>
    </div>
</div>
