---
import SidebarLayout from "./SidebarLayout.astro";

const { frontmatter } = Astro.props;
---

<SidebarLayout page="blog">
    <div class="sticky-top border-bottom" style="background-color: white;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb py-3 m-0">
                <li class="breadcrumb-item">
                    <a href="/blog">Blog</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {frontmatter.title}
                </li>
            </ol>
        </nav>
    </div>
    <div class="py-5">
        <slot />
    </div>
</SidebarLayout>
